<section class="p-2" style="background-color: #eee;">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-lg-12 col-xl-11">
        <div class="text-black card" style="border-radius: 25px;">
          <div class="card-body p-md-1">
            <div class="row justify-content-center">
              <div class="order-2 col-md-10 col-lg-6 col-xl-5 order-lg-1">
                <a href="/auth/login" class="flex-row mb-4 d-flex align-items-center text-info ml-4 mt-1">
                  <i class="fa fa-chevron-circle-left fa-2x" aria-hidden="true"></i>
                </a>
                <i class="fa-solid fa-circle-arrow-left"></i>
                <p class="mx-1 mt-4 mb-5 text-center h1 fw-bold mx-md-4">Sign up</p>
                <form class="mx-1 mx-md-4">

                  <div class="flex-row mb-4 d-flex align-items-center">
                    <i class="fas fa-user fa-lg me-3 mb-4 fa-fw"></i>
                    <div class="mb-0 form-outline flex-fill">
                      <input type="text" id="form3Example1c" class="form-control" required />
                      <label class="form-label" for="form3Example1c">Your Name</label>
                    </div>
                  </div>

                  <div class="flex-row mb-4 d-flex align-items-center">
                    <i class="fas fa-envelope fa-lg me-3 mb-4 fa-fw"></i>
                    <div class="mb-0 form-outline flex-fill">
                      <input type="email" id="form3Example3c" class="form-control" required />
                      <label class="form-label" for="form3Example3c">Your Email</label>
                    </div>
                  </div>

                  <div class="flex-row mb-4 d-flex align-items-center">
                    <i class="fas fa-lock fa-lg me-3 mb-4 fa-fw"></i>
                    <div class="mb-0 form-outline flex-fill">
                      <input type="password" id="form3Example4c" class="form-control" required />
                      <label class="form-label" for="form3Example4c">Password</label>
                    </div>
                  </div>

                  <div class="flex-row mb-4 d-flex align-items-center">
                    <i class="fas fa-key fa-lg me-3 mb-4 fa-fw"></i>
                    <div class="mb-0 form-outline flex-fill">
                      <input type="password" id="form3Example4cd" class="form-control" required/>
                      <label class="form-label" for="form3Example4cd">Repeat your password</label>
                    </div>
                  </div>

                  <div class="mb-3 form-check d-flex justify-content-center">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" required/>
                    <label class="form-check-label" for="form2Example3">
                      I agree all statements in <a href="#!">Terms of service</a>
                    </label>
                  </div>

                  <div class="mx-4 mb-3 d-flex justify-content-center mb-lg-4">
                    <button type="submit" class="btn btn-primary btn-lg">Register</button>
                  </div>
                </form>

              </div>
              <div class="order-1 col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-lg-2">

                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                  class="img-fluid" alt="Sample image">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
